#fate-stress-box((mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)")
    #fate-stress-box-label {{label}}
    #fate-stress-box-fill([@fill]="currentFill()")
        #fate-stress-box-label {{label}}
