.ui.basic.inverted.padded.segment
    .ui.centered.stackable.grid
        .row
            .eight.wide.column
                .ui.middle.aligned.three.column.grid
                    .right.aligned.column
                        .ui.inverted.statistic
                            .value +5
                            .label Shifts
                    .center.aligned.column
                        .ui.inverted.header.fate-character-overlay-for for
                    .left.aligned.column
                        .ui.inverted.statistic
                            .value 2
                            .label Fate Points
        .row
            .eight.wide.column
                .ui.two.column.grid
                    .column
                        %button.ui.inverted.green.fluid.button
                            %i.ui.checkmark.icon
                            Apply
                    .column
                        %button.ui.inverted.red.fluid.button
                            %i.ui.remove.icon
                            Clear
