.fate-fab-extra-actions
  %button.massive.circular.ui.icon.basic.red.button
    .fate-fab-icon
      %i.plus.icon/

%button.massive.circular.ui.icon.red.button
  .fate-fab-icon.fate-fab-main
    %i.icon([class.user]="!active" [class.minus]="active")/

